name: Deploy to ec2

on:
    push:
        branches: ["main"]

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{secrets.DOCKER_USERNAME}}
                password: ${{secrets.DOCKER_PASSWORD}}
              
            - name: Build HTTP Backend
              uses: docker/build-push-action@v5
              with:
                context: .
                file: docker/Dockerfile.backend
                push: true
                tags: ${{secrets.DOCKER_USERNAME}}/sketcha-http:latest

            - name: Builds WS Backend
              uses: docker/build-push-action@v5
              with:
                context: .
                file: docker/Dockerfile.ws
                push: true
                tags: ${{secrets.DOCKER_USERNAME}}/sketcha-ws:latest

            - name: Builds Web frontend
              uses: docker/build-push-action@v5
              with: 
                context: .
                file: docker/Dockerfile.web
                push: true
                tags: ${{secrets.DOCKER_USERNAME}}/sketcha-web:latest

                build-args:
                    NEXT_PUBLIC_API_URL=http://13.233.103.253
                    NEXT_PUBLIC_API_WS_URL=ws://13.233.103.253

    deploy:
        needs: build-and-push
        runs-on: ubuntu-latest
        steps:
          - name: SSH into EC2 and Deploy
            uses: appleboy/ssh-action@master
            with:
                host: ${{ secrets.EC2_HOST }}        # Your EC2 IP
                username: ubuntu                     # or ec2-user
                key: ${{ secrets.EC2_SSH_KEY }}          # Your private key content
                script: |
                    # Navigate to folder
                    cd ~/Sketcha 
                    # Pull new images
                    docker compose pull
                    # Restart containers (with new images)
                    docker compose up -d

        